{erl_opts, [debug_info, {parse_transform, lager_transform}, warnings_as_errors]}.
{deps, [
         cowboy,
         jsx,
         lager
       ]
    }.

{plugins, [rebar3_run]}.

{enable_cover, true}.

{relx, [{release, { ocas, "0.1.0" },
         [ocas,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false}, {include_erts, true}]}] },
            {test, [{deps, [shotgun]}, {erl_opts, [debug_info]} ]},
            {lint, [{plugins, [{rebar3_lint,
                               {git, "https://github.com/project-fifo/rebar3_lint.git",
                               {tag, "0.1.7"}}}]}]},
            {ci, [{ct_opts, [{ct_hooks, [cth_surefire]}]},
                             {extra_src_dirs, []}]}
           ]
}.
