[ { ocas
  , [ { port, 8080}         % port to listen to
    , { listener_count, 5}  % how many listeners needed? not many?
    ]
  }


, { lager
  , [ {colored, true}
    , {async_threshold, 200}
    , {async_threshold_window, 5}
    , {error_logger_hwm, 500}
    , { handlers
      , [ { lager_console_backend
            , [ debug
              , { lager_default_formatter
                , [ color
                  , time
                  , " ["
                  , severity
                  , "]"
                  , " "
                  , pid
                  , " ["
                  , {module, ""}
                  , ":"
                  , {function, ""}
                  , ":"
                  , {line, ""}
                  , "] "
                  , message
                  , "\e[0m\n"
                  ]
                }
              ]
          }
        ]
      }
    ]
  }
].
